<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!-- 	<servlet>
		<servlet-name>MyStore</servlet-name>
		<servlet-class>com.mystore.MyStoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MyStore</servlet-name>
		<url-pattern>/mystore</url-pattern>
	</servlet-mapping> -->
	<servlet>
		<servlet-name>RequestReceiverService</servlet-name>
		<servlet-class>com.mystore.RequestReceiverServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestReceiverService</servlet-name>
		<url-pattern>/submit-request</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RequestQueryService</servlet-name>
		<servlet-class>com.mystore.RequestQueryServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestReceiverService</servlet-name>
		<url-pattern>/submit-request</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubscriptionService</servlet-name>
		<servlet-class>com.mystore.SubscriptionServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubscriptionService</servlet-name>
		<url-pattern>/subscription</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SignUpService</servlet-name>
		<jsp-file>login/signup.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>SignUpService</servlet-name>
		<url-pattern>/login/signup</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginService</servlet-name>
		<servlet-class>com.mystore.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginService</servlet-name>
		<url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BuyerController</servlet-name>
		<servlet-class>com.mystore.buyer.ControllerServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuyerController</servlet-name>
		<url-pattern>/buyer</url-pattern>
	</servlet-mapping>	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
